<nz-layout class="app-layout" *ngIf="authService.isAuthenticated()">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" [nzCollapsedWidth]="0" nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Invoicika</h1>
      </a>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let item of menuItems">
        <li *ngIf="!item.children" nz-menu-item nzMatchRouter>
          <a [routerLink]="item.route" (click)="closeMenuOnMobile()">
            <i nz-icon [nzType]="item.icon"></i>
            <span>{{ item.label }}</span>
          </a>
        </li>
        <li *ngIf="item.children" nz-submenu nzTitle="{{item.label}}" [nzIcon]="item.icon">
          <ul>
            <li *ngFor="let child of item.children" nz-menu-item nzMatchRouter
              [hidden]="child.adminOnly && role !== 'Admin'">
              <a [routerLink]="child.route" (click)="closeMenuOnMobile()">{{ child.label }}</a>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" nzTheme="outline"></nz-icon>
        </span>

        <div class="header-right">
          <div class="user" nz-dropdown [nzDropdownMenu]="menu">
            <nz-avatar nzSize="small" nzText="{{userInitials}}" style="background-color: #7265e6;"></nz-avatar>
            <span class="user-name">{{ username }}</span>
            <nz-icon nzType="down"></nz-icon>
          </div>

          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item [routerLink]="['/users/edit', userId]">Perfil</li>
              <li nz-menu-item (click)="authService.logout()">Cerrar sesión</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>

    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<router-outlet *ngIf="!authService.isAuthenticated()"></router-outlet>