<nz-layout *ngIf="authService.isAuthenticated()" class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [nzCollapsedWidth]="0"
    [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://codebangla.com" target="_blank">
        <img src="assets/invoicika.svg" alt="logo" />
        <h1>Invoicika</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let item of menuItems">
        <li *ngIf="!item.children" nz-menu-item nzMatchRouter>
          <a [routerLink]="item.route" (click)="closeMenuOnMobile()">
            <i nz-icon [nzType]="item.icon"></i>
            <span>{{ item.label }}</span>
          </a>
        </li>
        <li *ngIf="item.children" nz-submenu nzTitle="{{item.label}}" [nzIcon]="item.icon">
          <ul>
            <li *ngFor="let child of item.children" nz-menu-item nzMatchRouter
              [hidden]="child.adminOnly && role !== 'Admin'">
              <a [routerLink]="child.route" (click)="closeMenuOnMobile()">{{ child.label }}</a>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding: 0;">
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <div class="user">
          <!-- Dropdown Menu for User Actions -->
          <a nz-dropdown [nzDropdownMenu]="menu" class="ant-dropdown-link">
            {{ username }}
            <span nz-icon nzType="down"></span>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item *ngIf="userId" [routerLink]="['/users/edit', userId]">Perfil</li>
              <li nz-menu-item (click)="authService.logout()">Cerrar sesión</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Invoicika ©2025</nz-footer>
  </nz-layout>
</nz-layout>
<router-outlet *ngIf="!authService.isAuthenticated()"></router-outlet>