<nz-page-header nzBackIcon (nzBack)="onBack()">
  <nz-page-header-title>Lista de Clientes</nz-page-header-title>
  <nz-page-header-extra>
    <nz-space>
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" [(ngModel)]="searchText" nz-input placeholder="Buscar Nombre / Correo" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzSearch (click)="onSearch()">
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template>
      <button *nzSpaceItem nz-button nzType="dashed"
        (click)="loadDataFromServer(pageIndex, pageSize, null, null, [], null)">
        <span nz-icon nzType="redo"></span>
        Refrescar
      </button>
      <button *nzSpaceItem nz-button nzType="primary" [routerLink]="['/customers/add']">
        <span nz-icon nzType="plus"></span>
        Agregar Cliente
      </button>
    </nz-space>
  </nz-page-header-extra>
</nz-page-header>

<div style="overflow-x:auto;">
  <nz-table #basicTable [nzData]="listOfCustomers" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total"
    [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)" nzBordered>
    <thead>
      <tr>
        <th nzColumnKey="name" nzShowSort>Nombre del Cliente</th>
        <th nzColumnKey="email" nzShowSort>Correo electrónico</th>
        <th nzColumnKey="phoneNumber" nzShowSort>Teléfono</th>
        <th nzColumnKey="staus" nzShowSort>Estado</th>
        <th nzColumnKey="actions">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of listOfCustomers">
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phoneNumber }}</td>
        <td>{{ customer.status | translate }}</td>
        <td>
          <a [routerLink]="['/customers/edit', customer.customerId]">
            <span nz-icon nzType="edit" nzTheme="outline" style="color: orange"></span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="showDeleteConfirm(customer)">
            <span nz-icon nzType="delete" nzTheme="outline" style="color: red"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>