<nz-page-header
  class="site-page-header"
  (nzBack)="onBack()"
  nzBackIcon
  nzTitle="Agregar IVA">
</nz-page-header>

<form nz-form [formGroup]="addVatForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Porcentaje de IVA (0-99)</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="percentageErrorTpl">
      <input nz-input type="number" formControlName="percentage" placeholder="Ingrese el porcentaje de IVA" />
      <ng-template #percentageErrorTpl let-control>
        <ng-container *ngIf="control.errors?.['required']">
          ¡Por favor ingrese el porcentaje de IVA!
        </ng-container>
        <ng-container *ngIf="control.errors?.['min']">
          ¡El porcentaje de IVA no puede ser menor que 0!
        </ng-container>
        <ng-container *ngIf="control.errors?.['max']">
          ¡El porcentaje de IVA no puede ser mayor que 100!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!addVatForm.valid">
        <span nz-icon nzType="plus"></span>Crear
      </button>
      <button nz-button (click)="resetForm($event)">Restablecer</button>
    </nz-form-control>
  </nz-form-item>
</form>
