<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Editar Usuario">
</nz-page-header>

<div *ngIf="loading" class="spinner-container">
  <nz-spin nzSimple></nz-spin>
</div>

<div *ngIf="!loading">
  <form nz-form [formGroup]="editUserForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="7">ID de Usuario</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="userId" [disabled]="true" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Usuario</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="usernameErrorTpl">
        <input nz-input formControlName="username" placeholder="Ingrese el usuario" />
        <ng-template #usernameErrorTpl let-control>
          <ng-container *ngIf="control.errors?.['required']">
            ¡Por favor ingrese el usuario!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Correo electrónico</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
        <input nz-input formControlName="emailAddress" placeholder="Ingrese el correo electrónico" />
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="control.errors?.['email']">
            ¡Por favor ingrese un correo electrónico válido!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7">Nombre</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="firstName" placeholder="Ingrese el nombre" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7">Apellido</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="lastName" placeholder="Ingrese el apellido" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7">Número de Documento</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="documentNumber" placeholder="Ingrese el número de documento" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7">Dirección</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="address" placeholder="Ingrese la dirección" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7">Teléfono</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="phoneNumber" placeholder="Ingrese el número de teléfono" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Rol</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="roleErrorTpl">
        <nz-select formControlName="role_id" nzPlaceHolder="Seleccione un rol">
          <nz-option *ngFor="let role of roles" [nzValue]="role.roleId" [nzLabel]="role.roleName"></nz-option>
        </nz-select>
        <ng-template #roleErrorTpl let-control>
          <ng-container *ngIf="control.errors?.['required']">
            ¡Por favor seleccione un rol!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7">Estado</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <nz-select formControlName="status" nzPlaceHolder="Seleccione estado">
          <nz-option nzValue="Activo" nzLabel="Activo"></nz-option>
          <nz-option nzValue="Inactivo" nzLabel="Inactivo"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7">Contraseña</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input type="password" formControlName="passwordHash" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7">Fecha de Creación</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="creationDate" [disabled]="true" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7">Fecha de Actualización</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="updateDate" [disabled]="true" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!editUserForm.valid">
          <nz-icon nzType="save" nzTheme="outline" />Guardar Cambios</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>