<div class="parent-container">
  <div class="container">
    <nz-card style="width: 600px">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired
            nzTooltipTitle="Cree un nombre de usuario sin caracteres especiales ni espacios. Ejemplo: juan123 o juan">
            <span>Nombre de Usuario</span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="¡Por favor ingrese su nombre de usuario!">
            <input nz-input id="username" formControlName="username" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Correo electrónico</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="¡El correo electrónico no es válido!">
            <input nz-input formControlName="email" id="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Contraseña</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="¡Por favor ingrese su contraseña!">
            <input nz-input type="password" id="password" formControlName="password"
              (ngModelChange)="updateConfirmValidator()" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirmar Contraseña</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
            <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
            <ng-template #errorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">¡Por favor confirme su contraseña!</ng-container>
              <ng-container *ngIf="control.hasError('confirm')">
                ¡Las contraseñas no coinciden!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <label nz-checkbox formControlName="agree">
              <span>
                He leído el
                <a routerLink="/agreement">acuerdo</a>
              </span>
            </label>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Registrarse</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
</div>