<nz-page-header nzBackIcon (nzBack)="onBack()">
  <nz-page-header-title>Lista de Usuarios</nz-page-header-title>
  <nz-page-header-extra>
    <nz-space>
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzSearch>
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template>
      <button *nzSpaceItem nz-button nzType="dashed" (click)="loadDataFromServer(pageIndex, pageSize, null, null, [])">
        <span nz-icon nzType="redo"></span>
        Refrescar
      </button>
      <button *nzSpaceItem nz-button nzType="primary" [routerLink]="['/users/add']">
        <span nz-icon nzType="plus"></span>
        Agregar Usuario
      </button>
    </nz-space>
  </nz-page-header-extra>
</nz-page-header>

<div style="overflow-x:auto;">
  <nz-table #basicTable [nzData]="listOfUsers" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total"
    [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)" nzBordered>
    <thead>
      <tr>
        <th nzColumnKey="username" nzShowSort>Usuario</th>
        <th nzColumnKey="username" nzShowSort>Nombres</th>
        <th nzColumnKey="username" nzShowSort>Apellidos</th>
        <th nzColumnKey="emailAddress" nzShowSort>Correo electrónico</th>
        <th nzColumnKey="roleName">Rol</th>
        <th nzColumnKey="roleName">Estado</th>
        <th nzColumnKey="actions">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of listOfUsers">
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.emailAddress }}</td>
        <td>{{ user.roleName }}</td>
        <td>{{ user.status }}</td>
        <td>
          <a [routerLink]="['/users/edit', user.userId]">
            <span nz-icon nzType="edit" nzTheme="outline" style="color: orange"></span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="showDeleteConfirm(user)">
            <span nz-icon nzType="delete" nzTheme="outline" style="color: red"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>