<nz-page-header nzTitle="Detalles de la Factura" nzSubtitle="" nzBackIcon [nzGhost]="false">
  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="printInvoice(invoice.customerInvoiceId)">
      <span nz-icon nzType="download"></span>Imprimir
    </button>
    <button nz-button nzType="default" (click)="printInvoicePdf(invoice.customerInvoiceId)" style="margin-left: 8px;">
      <span nz-icon nzType="printer"></span>PDF
    </button>
    <button nz-button nzType="default" (click)="emailInvoicePdf(invoice.customerInvoiceId)" style="margin-left: 8px;">
      <span nz-icon nzType="mail"></span>Correo
    </button>
  </nz-page-header-extra>
</nz-page-header>

<div class="invoice-container">
  <!-- Sección de Encabezado -->
  <nz-row [nzGutter]="16" class="header">
    <!-- Información de la Empresa -->
    <nz-col nzSpan="8">
      <div class="company-info">
        <p><strong>Invoicika Inc.</strong></p>
        <p>456 Business Road, Metropolis</p>
        <p>Teléfono: (123) 456-7890</p>
        <p>Correo: infosadinvoicika.com</p>
      </div>
    </nz-col>

    <!-- Información del Cliente -->
    <nz-col nzSpan="8">
      <div class="customer-info">
        <p><strong>{{ customer.name }}</strong></p>
        <p>{{ customer.address }}</p>
        <p>{{ customer.phoneNumber }}</p>
        <p>Correo: {{ customer.email }}</p>
      </div>
    </nz-col>

    <!-- Información de la Factura -->
    <nz-col nzSpan="8">
      <div class="date-info">
        <p><strong>Factura No: {{ invoice.customerInvoiceId }}</strong></p>
        <p>Fecha: {{ invoice.invoiceDate | date }}</p>
        <p>Por: {{currentUser}}</p>
      </div>
    </nz-col>
  </nz-row>

  <!-- Tabla de Factura -->
  <nz-table #basicTable [nzData]="invoiceItems" [nzBordered]="false" [nzFrontPagination]="false" nzSize="middle">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basicTable.data">
        <td>{{ item.itemName }}</td>
        <td>{{ item.itemDescription }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price | currency }}</td>
        <td>{{ item.price * item.quantity | currency }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Subtotal</td>
        <td>{{ subtotal | currency }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>IVA ({{ vat.percentage }}%)</td>
        <td>{{ vatAmount | currency }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>Total</strong></td>
        <td><strong>{{ total | currency }}</strong></td>
      </tr>
    </tfoot>
  </nz-table>
</div>